.main-div{
    /* height: 80vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.g-div{
    width: 100rem;
    height: 50rem;
    border: 1rem solid black;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-div{
    width: 15rem;
    height: 10rem;
    border: 0.5rem solid black; 
    background-color: palegreen;
}